<%- include("partials/header") -%>
    <h1>Home</h1>
    <p><%= homeContent %> </p>

    <% for (let i = 0; i < posts.length; i++){ %>
        <h1><%= posts[i].title %></h1>
        <p><%= posts[i].content.substring(0, 100) + " ..." %>
            <a href="/posts/<%= posts[i]._id %>" class="badge bg-secondary text-decoration-none">Read More</a>
        </p>
    <% }; %> 

    <a class="btn btn-info mt-4 text-white" href="/compose">Create Post</a>
<%- include("partials/footer") -%>
